<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	                    http://www.springframework.org/schema/beans/spring-beans.xsd">
	<!-- init-method 있는 경우  -->
	<bean id='t1' class='com.demo.beans.TestBean1' lazy-init='true' init-method="bean1_init"/>
	
	<!-- init-method 없는 경우  -->   
	<bean id='t2' class='com.demo.beans.TestBean2' lazy-init='true' />  
	
	<bean class="com.demo.processor.TestBeanPostProcessor" />  
</beans>